*{
    margin: 0;
    padding: 0;
}
.div-1{
    
    background-image: url('img-1.webp');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
    
}

.nav-1 li {
   display: inline;
   margin-left: 30px;
   padding-top: 5%;
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
   
}


.nav-1{
    margin-left: 600px;
    
    
}

.div-2 .h1-1{
    font-size: 5em;
    text-align: center;
    margin-top: 400px;
}

.h1-2{
    
    font-size: medium;
    margin-bottom: 200px;
    margin-left: 850px;
    color: white;
    
}
.nav-1{
    margin-left: 35%;
    padding-top: 5%;
}
.ul-1 li a{
    color:white;
    text-decoration: none;
}
section.sec-1{
    background-color: rgb(31, 29, 29);
    height: 500vh;
    
}
section .p-2{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
       
}
.sec-1 li{
    
    margin-top: 150px;
    display: inline;
    margin-left: 35px;
    color: whitesmoke;
}
.ul-2{
    margin-left: 600px;
    
}
.ul-2 li a{
    color: whitesmoke;
    text-decoration: none;
}


.packing-2{
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-top: 1.5%;
    padding-left: 20%;
    padding-top: 10%;
}
.packing-1{
   
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-top: -5.5%;
    padding-left: 20%;
    padding-top: 10%;
}
.typography-1{
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-top: -5.5%;
    padding-left: 42%;
    padding-top: 10%;
}
.typography-2{
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-top: 1.5%;
    padding-left: 42%;
    padding-top: 10%;
}
.photography-1{
    position: absolute;
    z-index: 1;
    width: 18%;
     height: 35%; 
    margin-top: -5.5%;
    padding-left: 64%;
    padding-top: 10%;
}
.photography-2{
    position: absolute;
    z-index: 1;
    width: 18%;
    height: 35%;
    margin-top: 1.5%;
    padding-left: 64%;
    padding-top: 10%;
}

.port{
    font-size: large;
    padding-top: 30%;
    padding-left: 23%;
}
.port .ses{
    padding-left: 11%;
}
.port .ase{
    padding-left: 8%;
}
.last{
    font-size: medium;
    padding-left: 25%;
}
.last .typo{
    padding-left: 17%;
}
.last .photo{
    padding-left: 18%;
}
.resume{
    padding-left: 18%;
    padding-top: 3%;
    font-size: xx-large;
}
.exprnc{
    padding-left: 25%;
}

.edu-1 .education{
    background-color: rgb(53, 42, 42);
    width: 30%;
    height: 20%;
    padding-left: 20%;
    padding-top: 3%;

}