*{
    margin: 0;
    padding: 0;
}
.div-1{
    
    background-image: url('img-1.webp');
    background-size: cover;
    
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100vh;
    
    
}

.nav-1 li {
   display: inline;
   margin-left: 30px;
   
   
   font-size: large;
   font-family: 'Courier New', Courier, monospace;
   
}


.nav-1{
    margin-left: 600px;
    
    
}

.div-2 .h1-1{
    font-size: 5em;
    text-align: center;
    /* color: rgb(255, 255, 255); */
    margin-top: 400px;
}

.h1-2{
    /* text-align: center; */
    font-size: medium;
    margin-bottom: 200px;
    margin-left: 850px;
    color: white;
    
}
.div-3{
    margin-left: 50px;
}

section{
    background-color: rgb(31, 29, 29)
    
}
section .p-2{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
       
}
.ul-2 li{
    
    margin-top: 150px;
    display: inline;
    margin-left: 30px;
    
}
.ul-2{
    margin-left: 600px;
    
}

.div-4{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.div-3{
    padding-top: 50px;
}

